@import '../../scss/variables';

.pagination {
  display: flex;
  column-gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  position: relative;
  overflow: auto;
  @media (max-width: $mobile) {
    justify-content: center;
  }
  @media (max-width: $mobileSmall) {
    justify-content: start;
  }

  :global {
    .selected a {
      background-color: black;
      color: white;
    }
    .disabled a {
      border: 1px solid grey;
      color: grey;
      cursor: auto;
      &:hover {
        color: grey;
        border: 1px solid grey;
        background-color: white;
      }
    }
  }
  a {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    transition: all ease 0.3s;
    @media (max-width: $mobile) {
      width: 45px;
      height: 45px;
    }

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
