@import '../../scss/variables';

.market {
  padding-top: 265px;

  @media (max-width: 1300px) {
    padding-top: 240px;
  }

  @media (max-width: $tablet) {
    padding: 190px 0 0px;
  }

  @media (max-width: 550px) {
    padding: 120px 0 0px;
  }

  @media (max-width: $mobileSmall) {
    padding: 100px 0 0px;
  }
  &__title {
    margin-bottom: 26px;
    @media (max-width: 550px) {
      text-align: center;
    }
  }
}
