@import '../../../scss/variables.scss';

.main {
  overflow: hidden;
  &__items {
    padding-top: 125px;
    height: calc(100vh);
    display: flex;
    position: relative;
    @media (max-width: $tablet) {
      justify-content: center;
    }
    @media (max-width: $mobileSmall) {
      padding-top: 110px;
    }
    &:after {
      content: '';
      background-color: $thirdColor;
      height: 200%;
      width: 500%;
      position: absolute;
      z-index: -1;
      top: -150px;
      left: 59%;
    }
  }
  &__info {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex: 0 0 59%;
    justify-content: flex-start;
    @media (max-width: 1300px) {
      padding-top: 70px;
      margin-right: 60px;
      flex: 0 0 45%;
    }
    @media (max-height: 650px) {
      justify-content: space-around;
      row-gap: 0;
    }

    @media (max-width: $tablet) {
      flex: 1 1 100%;
      margin-right: 0;
      padding: 70px 0 0px;
    }

    @media (max-width: 550px) {
      row-gap: 20px;
      padding: 30px 0 0px;
    }

    @media (max-width: $mobileSmall) {
      padding: 0px 0 0px;
    }
  }
  &__title {
    max-width: 585px;
    padding-left: 5px;
    @media (max-width: $tablet) {
      max-width: none;
      text-align: center !important;
    }
  }
  &__text {
    max-width: 385px;
    @media (max-width: $tablet) {
      max-width: none;
      padding: 0 50px;
      text-align: center !important;
    }
  }
}

.controlButton {
  @media (max-height: 650px) {
    flex: 0 0 auto;
  }
  display: flex;
  padding-left: 128px;
  flex: 1 1 auto;
  @media (max-width: $tablet) {
    flex: 0 0 auto;
    padding: 0;
    justify-content: center;
  }
  &__items {
    text-align: right;
  }
  &__pagination {
    z-index: 100;
  }
  &__arrow {
    height: 69.45px;
    width: 69.45px;
    background: rgba(110, 156, 159, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    & img {
      display: block;
      height: 28px;
      width: 14px;
      max-width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.photosMain {
  @media (max-width: $tablet) {
    display: none;
  }
  position: relative;
  flex: 0 1 41%;
  img {
    object-fit: cover;
    object-position: right, center;
  }
  &__images {
    padding-left: 40px;
  }
  &__main {
    object-fit: cover;
    margin-left: 50px;
    height: 90%;
    width: calc(100% - 50px);
  }
  &__left {
    position: absolute;
    bottom: 0%;
    height: 40%;
    width: 47%;
    left: 0;
    transform: translate(calc(-50%), 0);

    @media (max-width: 1100px) {
      display: none;
    }
  }
  &__right {
    position: absolute;
    top: 15%;
    width: 43%;
    right: 0;
    transform: translate(50%, 0);
    z-index: 2;
  }
}
