@import '../../../scss/variables';

.collection {
  padding: 130px 0 130px;
  @media (max-width: $pc) {
    padding: 70px 0;
  }
  @media (max-width: $tablet) {
    padding: 40px 0;
  }
  @media (max-width: $mobile) {
    padding: 20px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 15px 0;
  }

  &__title {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  &__items {
    margin-top: 60px;
    @media (max-width: $tablet) {
      margin-top: 40px;
    }
    @media (max-width: $mobile) {
      margin-top: 20px 0;
    }
    @media (max-width: $mobileSmall) {
      margin-top: 10px 0;
    }
    display: flex;
    column-gap: 25px;
    row-gap: 145px;
    @media (max-width: $pc) {
      row-gap: 100px;
    }
    @media (max-width: $tablet) {
      row-gap: 60px;
    }
    @media (max-width: $mobile) {
      row-gap: 20px;
    }

    @media (max-width: $mobileSmall) {
      row-gap: 15px 0;
    }
    flex-wrap: wrap;
    flex: 0 1 32%;
    justify-content: center;
  }
  &__button {
    margin: 60px auto 0;
    @media (max-width: $tablet) {
      margin-top: 40px;
    }
    @media (max-width: $mobile) {
      margin-top: 20px;
    }
    @media (max-width: $mobileSmall) {
      margin-top: 15px;
    }
  }
}
