@import '../variables';

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  @media (max-width: 550px) {
    font-size: 40px;
  }
  @media (max-width: $tablet) {
    font-size: 50px;
  }
}
.main-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.02em;
}
.main-button {
  cursor: pointer;
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 243px;
  background-color: $derivativeColor;
  padding: 21px;
  height: 69.44px;
  transition: all ease 0.4s;
  border: 2px solid $derivativeColor;
  &_rev {
    border: 2px solid $derivativeColor;
    background-color: white;
    color: $derivativeColor;
    &:hover {
      border: 2px solid $derivativeColor !important;
      background-color: $derivativeColor !important;
      color: #ffffff !important;
    }
  }
  &:hover {
    border: 2px solid $derivativeColor;
    background-color: white;
    color: $derivativeColor;
  }
}

.buttonDark {
  border: black 1px solid;
  padding: 19px 60px;
  transition: all ease 0.3s;
  &:hover {
    background: black;
    color: white;
  }
  &_active {
    background: black;
    color: white;
  }
}

.secondTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
}

.thirdTitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.secondText {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.thirdText {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.swiper-pagination {
  z-index: 100;
  span {
    border-radius: 0px !important;
    width: 30px !important;
    height: 4px !important;
    background: rgb(255, 255, 255) !important;
    padding: 2px 0;
    &.swiper-pagination-bullet-active {
      background: #ffffff !important;
    }
  }
}
.swiper-pagination_dark {
  z-index: 100;
  span {
    border-radius: 0px !important;
    width: 30px !important;
    height: 4px !important;
    padding: 2px 0;
    opacity: 1 !important;
    background: #d1d1d1 !important;
  }
  span.swiper-pagination-bullet-active {
    background: #000000 !important;
  }
}
