@import '../../scss/variables.scss';

// @media(max-width:$tablet){

// }
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  // background-color: black;
  padding: 42px 0;
  &_scrolled {
    background: white;
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.1);
  }
  @media (max-width: $tablet) {
    padding: 25px 0;
  }
  @media (max-width: 550px) {
    padding: 15px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 10px 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    align-items: center;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      flex: 0 0 50%;
    }
    @media (max-width: 550px) {
      display: block;
    }
  }

  &__logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    align-items: center;
    padding: 8px 0 8px 0px;
    display: flex;

    @media (max-width: $tablet) {
      flex: 0 1 50%;
      padding-right: 0px;
    }
    @media (max-width: 550px) {
      justify-content: center;
      text-align: center;
    }
  }
  &__info {
    display: flex;
    column-gap: 67px;
    @media (max-width: $tablet) {
      flex: 0 0 50%;
      column-gap: 30px;
      justify-content: flex-end;
    }
    @media (max-width: 550px) {
      justify-content: center;
    }
    @media (max-width: $mobileSmall) {
      column-gap: 20px;
    }
  }
  &__contacts {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    padding-left: 30px;
    background: url('./img/03.svg') no-repeat left center;
    transition: all ease 0.3s;

    &:hover {
      color: $derivativeColor;
    }
  }
  &__cart {
    cursor: pointer;
    position: relative;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.15);
    }
    &_countActive {
      display: inline-flex !important;
    }
    span {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-60%, -30%);
      background-color: #6e9c9fd6;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      justify-content: center;
      line-height: 21px;
      color: white;
    }
  }
}

.nav {
  @media (max-width: $tablet) {
    order: 1;
  }
  &__items {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    display: flex;
    column-gap: 45px;
    @media (max-width: 550px) {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #6e9c9ff7;
      top: 0;
      left: -200%;
      z-index: 10;
      flex-direction: column;
      font-size: 30px;
      row-gap: 30px;
      align-items: center;
      padding-top: 80px;
      transition: all ease 0.3s;
    }
    &_active {
      left: 0;
    }
  }
  :global {
    .active {
      color: $derivativeColor;
      font-weight: 600;
      @media (max-width: 550px) {
        color: rgb(62, 112, 114);
      }
    }
  }
  &__itemLink {
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
      color: $derivativeColor;
      font-weight: 600;
    }
    &_active {
      color: $derivativeColor;
      font-weight: 600;
    }
  }
  &__icon {
    position: fixed;
    z-index: 20;
    display: none;
    &_exist {
      display: block;
    }
    top: 35px;
    left: 20px;
    width: 30px;
    height: 20px;
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      top: 0px;
      transform: translate(0, -50%);
      background-color: black;
    }
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      bottom: 0;
      background-color: black;
    }
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 2px;
      top: 50%;
      transform: translate(0, -50%);
      background-color: black;
      transition: all ease 0.3s 0s;
    }
    &_active {
      span {
        width: 0;
      }
      &::before {
        transform: rotate(-45deg);
        top: 50%;
      }
      &::after {
        transform: rotate(45deg);
        top: 50%;
      }
    }
  }
}

.logo {
  &__text {
    align-items: center;
    margin-left: 9px;
  }
}
