@import '../../../scss/variables';

.market {
  &__filter {
    padding-top: 100px;
    margin-bottom: 90px;
    @media (max-width: $tablet) {
      margin-bottom: 60px;
      padding-top: 40px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 40px;
      padding-top: 20px;
    }
    @media (max-width: $mobileSmall) {
      margin-bottom: 30px;
      padding-top: 0px;
    }
  }
}

.filter {
  &__items {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 20px;
    @media (max-width: $tablet) {
      justify-content: center;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    @media (max-width: $mobileSmall) {
      flex: 1 1 auto;
    }
  }
  &__button {
    @media (max-width: $mobileSmall) {
      width: 280px;
      padding: 10px 0 !important;
    }
  }
}
