@import '../../scss/variables.scss';

.footer {
  background-color: $thirdColor;
  padding: 103px 0;
  @media (max-width: $tablet) {
    padding: 70px 0;
  }
  @media (max-width: $mobile) {
    padding: 40px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 20px 0;
  }
  &__header {
  }
  &__gmail {
    margin-top: 7px;
    text-align: right;
    @media (max-width: 550px) {
      text-align: center;
    }
  }
  &__bottom {
    font-size: 20px;
  }
  &__text {
  }
}

.bottomHeader {
  &__items {
    margin-top: 10px;
    display: flex;
    column-gap: 188px;
    @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }
    @media (max-width: $tablet) {
      column-gap: 0px;
      justify-content: space-between;
    }
  }
  &__item {
    @media (min-width: $tablet) {
      &:last-child {
        flex: 1 1 auto;
        text-align: right;
        align-items: bottom;
      }
    }
    @media (max-width: 550px) {
      &:nth-child(1) {
        order: 1;
      }
    }
  }
  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    @media (max-width: $pc) {
      justify-content: flex-start;
    }
    @media (max-width: 550px) {
      align-items: center;
    }
  }
  &__category {
  }

  &__label {
  }
}

.categoryHeader {
  &__item {
    @media (max-width: 550px) {
      text-align: center;
    }
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  @media (max-width: 550px) {
    align-items: center;
  }
  &__item {
    margin-bottom: 21px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    width: 21px;
    height: 21px;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__paymentIcon {
    width: 68px;
    height: 21px;
  }
}

.header {
  padding: 42px 0;
  @media (max-width: $tablet) {
    padding: 25px 0;
  }
  @media (max-width: 550px) {
    padding: 15px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 10px 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    align-items: center;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      flex: 0 0 50%;
    }
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
  &__logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    align-items: center;
    padding: 8px 0 8px 0px;
    display: flex;

    @media (max-width: $tablet) {
      flex: 0 1 50%;
      padding-right: 0px;
    }
    @media (max-width: 550px) {
      justify-content: center;
      text-align: center;
    }
  }
  &__info {
    display: flex;
    column-gap: 67px;
    @media (max-width: $tablet) {
      flex: 0 0 50%;
      column-gap: 30px;
      justify-content: flex-end;
    }
    @media (max-width: 550px) {
      justify-content: center;
    }
    @media (max-width: $mobileSmall) {
      column-gap: 20px;
    }
  }
  &__contacts {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    padding-left: 30px;
    background: url('../Header/img/03.svg') no-repeat left center;
  }
  &__cart {
  }
}

.nav {
  @media (max-width: $tablet) {
    order: 1;
  }
  &__items {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    display: flex;
    column-gap: 45px;
    @media (max-width: 550px) {
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 15px;
    }
  }
  &__itemLink {
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
      color: $derivativeColor;
      font-weight: 600;
    }
    &_active {
      color: $derivativeColor;
      font-weight: 600;
    }
  }
}

.logo {
  &__text {
    align-items: center;
    margin-left: 9px;
  }
}
