// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Raleway';
$fontSize: 17px; // де 14(px) - розмір шрифту за замовчуванням з макету
// 500
// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням
$derivativeColor: #6e9c9f;
$thirdColor: #f1eadc;
$hoverColor: rgba(110, 156, 159, 0.646);

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320px;
// Ширина полотна (макету)
$maxWidth: 1920px;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1110px;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30px;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $maxWidthContainer;
$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;
