@import '../../scss/variables.scss';

.important {
  padding-bottom: 30px;

  &__title {
    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  &__items {
    margin-top: 90px;
    display: flex;
    column-gap: 75px;
    justify-content: center;
    row-gap: 30px;
    @media (max-width: $tablet) {
      margin-top: 60px;
      flex-wrap: wrap;
      flex: 1 1 50%;
    }
    @media (max-width: $mobile) {
      margin-top: 30px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    @media (max-width: $tablet) {
      align-items: center;
    }
  }
}

.itemImportant {
  &__title {
    margin-top: 37px;
    @media (max-width: $mobile) {
      margin-top: 20px;
    }
  }
  &__text {
    max-width: 305px;
    margin-top: 24px;
    flex: 1 1 auto;
    @media (max-width: $tablet) {
      text-align: center;
    }
    @media (max-width: $mobile) {
      margin-top: 15px;
    }
    @media (max-width: 720px) {
      max-width: none;
      padding: 0 20px;
    }
  }
}

.dreamTeam {
  margin-top: 100px;
  margin-bottom: 130px;
  @media (max-width: 1050px) {
    margin: 30px 0;
  }
  @media (max-width: $mobile) {
    margin: 20px 0 20px;
  }
  &__title {
    @media (max-width: 1050px) {
      text-align: center;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
    row-gap: 30px;

    @media (max-width: 1050px) {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: $mobile) {
      margin-top: 15px;
    }
  }
  &__slider {
    flex: 0 0 730px;
    width: 730px;
    @media (max-width: 1050px) {
      flex: 0 0 auto;
    }
    @media (max-width: 800px) {
      max-width: 100%;
    }
  }
  &__info {
    margin-top: 92px;
    flex: 0 0 auto;
    @media (max-width: 1050px) {
      margin-top: 30px;
    }
    @media (max-width: $mobile) {
      margin-top: 10px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  @media (max-width: 1050px) {
    align-items: center;
    justify-content: flex-start;
  }

  &__text {
    margin: 28px 0;
    max-width: 255px;
    min-height: 100px;
    @media (max-width: 1050px) {
      text-align: center;
      max-width: none;
    }
    @media (max-width: $mobile) {
      margin: 10px 0;
    }
    p {
      margin-bottom: 28px;
      @media (max-width: $mobile) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__detail {
    color: $derivativeColor;
    transition: all ease 0.3s;
    cursor: pointer;
    &:hover {
      color: #457d82;
      text-shadow: 0px 2px 4px $derivativeColor;
    }
  }
}
