.swiperDreamTeam {
  .swiper-pagination {
    bottom: 12% !important;
  }

  .swiper-button {
    &-prev {
      &::after {
        transform: rotate(180deg);
        font-size: 0;
        width: 26px;
        height: 16px;
        background: url('./img/arrow_a.svg') no-repeat center center;
        background-size: 26px;
        padding: 1px 1px;
        cursor: pointer;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    &-next {
      &::after {
        font-size: 0;
        width: 26px;
        height: 16px;
        background: url('./img/arrow_a.svg') no-repeat center center;
        background-size: 26px;
        padding: 2px 2px;
        cursor: pointer;
        z-index: 1000;
        transition: all ease 0.3s;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .swiper-slide {
    img {
      object-fit: cover;
      object-position: center, top;
      width: 100%;
      min-height: 300px;
      max-height: 490px;
      border-radius: 10px;
    }
  }
}
